services:
  nginx:
    build:
      context: .
      dockerfile: docker/nginx/Dockerfile
    restart: unless-stopped
    depends_on:
      - app
    volumes:
      - storage:/var/www/html/storage
    networks:
      - mutual-network

  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    restart: unless-stopped
    depends_on:
      - mariadb
      - redis
    environment:
      - APP_KEY=${APP_KEY}
      - APP_ENV=production
      - APP_DEBUG=false
      - APP_URL=https://mutual-longvie.ar
      - DB_HOST=mariadb
      - DB_PORT=3306
      - DB_DATABASE=${DB_DATABASE}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - QUEUE_CONNECTION=redis
    volumes:
      - storage:/var/www/html/storage
    networks:
      - mutual-network

  queue:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    restart: unless-stopped
    depends_on:
      - mariadb
      - redis
    command: php artisan queue:work --sleep=3 --tries=3 --timeout=90
    environment:
      - APP_KEY=${APP_KEY}
      - APP_ENV=production
      - DB_HOST=mariadb
      - DB_PORT=3306
      - DB_DATABASE=${DB_DATABASE}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - QUEUE_CONNECTION=redis
    volumes:
      - storage:/var/www/html/storage
    networks:
      - mutual-network

  scheduler:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    restart: unless-stopped
    depends_on:
      - mariadb
      - redis
    command: php artisan schedule:work
    environment:
      - APP_KEY=${APP_KEY}
      - APP_ENV=production
      - DB_HOST=mariadb
      - DB_PORT=3306
      - DB_DATABASE=${DB_DATABASE}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - QUEUE_CONNECTION=redis
    volumes:
      - storage:/var/www/html/storage
    networks:
      - mutual-network

  mariadb:
    image: mariadb:10.11
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - mutual-network

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    command: ['redis-server', '--appendonly', 'yes']
    volumes:
      - redis_data:/data
    networks:
      - mutual-network

networks:
  mutual-network:
    driver: bridge

volumes:
  mariadb_data:
  redis_data:
  storage:
